html,body,div,ul,ol,li,dl,dt,dd,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,pre,code,p,blockquote,hr,th,td {margin:0;padding:0;}
a {color:#011a50;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
hr {border:0;height:1px;background-color:#000;color:#000;}
a img,:link img,:visited img {border:none;}
table {border-spacing:0;border-collapse:collapse;}
strong {font-weight: bold;}
em {font-style: italic;}
.right {float: right;}
.left {float: left;}
.hide {display: none;}
.hr {height: 1px;border-top: solid 1px #898989;}
.clear {clear: both;height: 0;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} .clearfix{display:inline-block;} * html > body .clearfix{width: 100%;display: block;} html[xmlns] .clearfix{display:block;} * html .clearfix{height:1%;}

body {background: #fff none;font-family: "arial",verdana,tahoma,helvetica,clean,sans-serif;font-size: 11px;line-height: 1.4em;}

#lh_embed_common {width:120px;height: 600px;color: #444;}
#lh_embed_common .lh-embed-wrap {background: #ddd none;border: solid 1px #c5c5c5;padding: 4px;width: 110px}
#lh_embed_common .head a {background: url(../images/logo.png) no-repeat scroll 0;display: block;height: 27px;text-indent: -2000em}
#lh_embed_common .body {background: #fff none;height: 522px}
#lh_embed_common .link-embed-wrap {background: url(../images/separator.png) no-repeat scroll 0 100%;padding: 10px 6px 12px}
#lh_embed_common .last {background: none;}
#lh_embed_common .link-embed {padding: 0 !important}
#lh_embed_common .link-title {padding: 2px 0 0 !important}
#lh_embed_common .link-title a {color: #3b5998 !important}
#lh_embed_common .foot {font-size: 11px;color: #000}
#lh_embed_common .foot p {padding: 5px 10px;text-align: center;}
#lh_embed_common .foot a {color: #000;text-decoration: none;}

#lh_embed_k14 {width:240px;color: #444}
#lh_embed_k14 h2 {background:url(../images/k14-head-240.gif) no-repeat scroll left top}
#lh_embed_k14 h2 a{display: block;width: 240px; height: 32px}
#lh_embed_k14 .embed-body {background:url(../images/k14-body-bg.png) no-repeat scroll 0 0;width: 240px;height: 108px}
#lh_embed_k14 .embed-form {position:relative}
#lh_embed_k14 .nkt-form {position: absolute;top: 77px;left: 8px}
#lh_embed_k14 .k14-input {background:#fff url(../images/k14-input-bg.png) no-repeat scroll right center;color:#000;float: left;margin-right: 4px;padding: 2px;width: 160px}
#lh_embed_k14 .k14-btn {background:url(../images/k14-btn-bg.gif) repeat-x scroll left top;float: left;padding: 1px}
.k14-input, .k14-btn {border: solid 1px #f0ae2e;font-family: "arial",verdana,tahoma,helvetica,clean,sans-serif;font-size: 11px;}
.k14-btn {font-weight: bold;cursor: pointer;}

#lh_embed_ipro {width:240px}
#lh_embed_ipro h2 {background:url(../images/ipro-head.gif) no-repeat scroll left top}
#lh_embed_ipro h2 a{display: block;width:240px;height:36px}
#lh_embed_ipro .embed-body {background:url(../images/ipro-body.gif) no-repeat scroll 0 0;height: 128px}
#lh_embed_ipro .embed-form {padding: 75px 8px 0}
#lh_embed_ipro input.inputtext {background:#fff url(../images/ipro-input-bg.png) no-repeat scroll right center;border: solid 1px #CCC;outline: medium none;color:#000;float: left;margin-right: 5px;width: 158px;padding: 2px}
#lh_embed_ipro input.inputsubmit {background: url(../images/ipro-inputsubmit-bg.gif) repeat-x scroll 0;border: solid 1px #feb33d;font-family: "arial",verdana,tahoma,helvetica,clean,sans-serif;font-size: 11px;font-weight: bold;cursor: pointer;float: left;width: 55px;padding: 2px 0 1px}

#lh_embed_sannhac {width: 180px;color: #fff}
#lh_embed_sannhac h2 {background:url(../images/sannhac-head.png) no-repeat scroll left top}
#lh_embed_sannhac h2 a{display: block;width: 180px;height: 32px}
#lh_embed_sannhac .embed-body {background:url(../images/sannhac-body.png) no-repeat scroll 0 0;height: 148px}
#lh_embed_sannhac .embed-form {padding: 88px 0 0 0}
#lh_embed_sannhac .embed-form .input-url {margin-bottom: 12px;text-align: center}
#lh_embed_sannhac .embed-form .inputsubmit-sn {padding-left: 106px}
#lh_embed_sannhac .embed-form .input-url input {background:#fff url(../images/y360-icon.gif) no-repeat scroll right center;border: medium none;color:#000;opacity: 0.4;filter: alpha(opacity=40);width: 155px;padding: 2px 0}
#lh_embed_sannhac .embed-form .inputsubmit-sn input {background: none; border: medium none;color: #073447;padding: 2px 0; cursor: pointer; font-size: 11px; font-weight: bold;width: 64px}

#lh_embed_ttvnol {width:470px;color: #444;}
#lh_embed_ttvnol .lh-embed-wrap {border: solid 1px #CCC;}
#lh_embed_ttvnol .lh-embed-head {background: #69C none;padding: 1px;border-bottom: solid 1px #CCC}
#lh_embed_ttvnol .lh-embed-head h2 {padding: 0 10px 0 0;font-size: 11px;font-weight: bold;line-height: 26px;color: #fff;text-align: right}
#lh_embed_ttvnol .lh-embed-head h2 a {background: #69C url(../images/lh-logo-ttvnol.png) no-repeat scroll left top;display: block;width: 122px;height: 26px;float: left;}
#lh_embed_ttvnol .lh-embed-body {padding: 3px}
#lh_embed_ttvnol .lh-listlink {line-height: 20px;padding-left: 135px}
#lh_embed_ttvnol .lh-listlink ul {list-style: none;}
#lh_embed_ttvnol .lh-listlink ul li {list-style: none;border-bottom: 1px #879ac0 dotted;}
#lh_embed_ttvnol .lh-listlink ul li a {background:transparent url(../images/arr_red.gif) no-repeat scroll left center;padding-left:9px;}
.link-thumb img {border:solid 1px #CCC !important;padding: 2px}

#lh_embed_enbac, #lh_embed_socvui {width: 120px;height: 600px}
#lh_embed_enbac .head {background: url(../images/enbac-head.gif) no-repeat scroll 0 0;height: 138px}
#lh_embed_enbac .body {background: url(../images/enbac-body.gif) no-repeat scroll 0 0;height: 436px}
#lh_embed_enbac .foot {background: url(../images/enbac-foot.gif) no-repeat scroll 0 0}
#lh_embed_enbac .connect {display: block; height: 62px}
#lh_embed_enbac .head p {padding: 5px 5px 0;text-align: center;line-height: 1.5em}
#lh_embed_enbac .head a {font-weight: bold}
#lh_embed_enbac .foot a {display: block;width: 120px;height: 26px}
.link-embed-wrap {line-height: 1.3em}
.link-embed {text-align: center;padding-top: 5px}
.link-embed .link-image {background: #fff none;border: solid 1px #464646;padding: 1px;width: 90px;height: 90px;margin: 0 auto}
.link-embed .link-title {text-align: center;font-weight: bold;padding: 2px 5px}

#lh_embed_gamek {width:160px;height:600px}
#lh_embed_gamek .head {background: url(../images/gamek-head.gif) no-repeat scroll 0 0;height: 137px}
#lh_embed_gamek .body {background: url(../images/bg_xanh.gif) no-repeat scroll 0 0;height: 568px;padding: 5px 3px 0}
#lh_embed_gamek .foot {background: url(../images/gamek-foot.gif) no-repeat scroll 0 0}
#lh_embed_gamek .connect {display: block; height: 62px}
#lh_embed_gamek .link-embed {border-bottom: solid 1px #fff}
#lh_embed_gamek .last {border: medium none !important}
#lh_embed_gamek .link-embed .link-title {padding: 2px !important}
#lh_embed_gamek .head p {padding: 10px 15px 0;text-align: center;line-height: 1.5em}
#lh_embed_gamek .head a {font-weight: bold}
#lh_embed_gamek .foot a {display: block;height: 27px}

#lh_embed_socvui .head {background: url(../images/socvui-head.gif) no-repeat scroll 0 0;height: 137px}
#lh_embed_socvui .body {background: url(../images/socvui-body.gif) no-repeat scroll 0 0;height: 436px}
#lh_embed_socvui .foot {background: url(../images/socvui-foot.gif) no-repeat scroll 0 0}
#lh_embed_socvui .connect {display: block; height: 58px}
#lh_embed_socvui .head p {padding: 5px 5px 0;text-align: center;line-height: 1.5em}
#lh_embed_socvui .head a {font-weight: bold}
#lh_embed_socvui .foot a {display: block;width: 120px;height: 27px}

.hightlight {font-weight: bold;color:#ef0011}

#lh_embed_link_ipro {background: #0e0e0e url(../images/top-lh-ipro-bg.png) repeat-x scroll 0 0;width: 330px}
#lh_embed_link_ipro .lh-top {border: solid 1px #ffb400;padding: 9px 8px 0}
#lh_embed_link_ipro .head {margin: 0 auto;}
#lh_embed_link_ipro .head a {background: url(../images/top-lh-ipro.png) no-repeat scroll 0 0;width: 310px;height: 35px;display: block;text-indent: -2000px;margin: 0 auto;}
#lh_embed_link_ipro .body {background: #212121 none;border: solid 1px #646464;margin: 0 auto;}
#lh_embed_link_ipro .foot {font-size: 11px;font-weight: bold;line-height: 27px;text-align: center;color: #b8b8b8}
#lh_embed_link_ipro .foot a {color: #fff}
#lh_embed_link_ipro .top-lh-content {padding: 0 8px}
#lh_embed_link_ipro .top-link-wrap {overflow: hidden;}
#lh_embed_link_ipro .top-link {border-bottom: solid 1px #444;padding: 9px 0;}
#lh_embed_link_ipro .top-link .link-image {background: #fff none;border: solid 1px #636363;padding: 1px;float: left;}
#lh_embed_link_ipro .top-link .link-title, #lh_embed_link_ipro .top-link .link-des {padding-left: 75px}
#lh_embed_link_ipro .top-link .link-title {margin-bottom: 5px}
#lh_embed_link_ipro .top-link .link-title a {font-size: 12px;font-weight: bold;color: #faa71b;}
#lh_embed_link_ipro .top-link .link-des {font-size: 11px;font-weight: bold;color: #a0a09f}
#lh_embed_link_ipro .top-link .link-des img {vertical-align: middle;}
#lh_embed_link_ipro .top-link .link-des a {color: #fff;}

#lh_embed_link_sannhac {background: #fff none;width: 300px}
#lh_embed_link_sannhac .lh-top {}
#lh_embed_link_sannhac .head {margin: 0 auto;}
#lh_embed_link_sannhac .head a {background: url(../images/bg_top_sannhac.png) no-repeat scroll 0 0;height: 44px;display: block;text-indent: -2000px;}
#lh_embed_link_sannhac .body {}
#lh_embed_link_sannhac .foot {background: url(../images/lh-foot-bg-sannhac.png) repeat-x scroll 0 0;font-size: 11px;font-weight: bold;line-height: 29px;text-align: center;color: #b8b8b8}
#lh_embed_link_sannhac .foot a {color: #fff}
#lh_embed_link_sannhac .top-lh-content {padding: 0 8px}
#lh_embed_link_sannhac .top-link-wrap {overflow: hidden;}
#lh_embed_link_sannhac .top-link {border-bottom: solid 1px #dadada;padding: 9px 0;}
#lh_embed_link_sannhac .last {border-bottom: medium none;}
#lh_embed_link_sannhac .top-link .link-image {background: #fff none;border: solid 1px #b6c1d9;padding: 1px;float: left;}
#lh_embed_link_sannhac .top-link .link-title, #lh_embed_link_sannhac .top-link .link-des {padding-left: 75px}
#lh_embed_link_sannhac .top-link .link-title {margin-bottom: 5px}
#lh_embed_link_sannhac .top-link .link-title a {font-size: 12px;font-weight: bold;color: #0c559c;}
#lh_embed_link_sannhac .top-link .link-des {font-size: 11px;font-weight: bold;color: #464646}
#lh_embed_link_sannhac .top-link .link-des img {vertical-align: middle;}
#lh_embed_link_sannhac .top-link .link-des a {color: #0c559c;font-weight: normal;}



